.title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  padding: 12px 0 20px;
}

.form {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  gap: 24px;
  margin-bottom: 60px;
}
