@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

:root {
  --color-azure: #0290ff;
  --color-azure-two: #4386bf;
  --color-pale-grey: #f5f6fa;
  --color-black-two: #121212;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-roboto-slab: 'Roboto Slab', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black-two);
}

html {
  background-color: var(--color-pale-grey);
  font-family: var(--font-family-montserrat);
  font-size: 16px;
}

main,
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}
